@font-face {
    font-family: "AvenirLTStd-Light";
    src:          url("../fonts/AvenirLTStd-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-LightOblique";
    src:          url("../fonts/AvenirLTStd-LightOblique.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-Light";
    src:          url("../fonts/AvenirLTStd-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-LightOblique";
    src:          url("../fonts/AvenirLTStd-LightOblique.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-Roman";
    src:          url("../fonts/AvenirLTStd-Roman.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-Oblique";
    src:          url("../fonts/AvenirLTStd-Oblique.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-Book";
    src:          url("../fonts/AvenirLTStd-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-BookOblique";
    src:          url("../fonts/AvenirLTStd-BookOblique.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-Medium";
    src:          url("../fonts/AvenirLTStd-Medium.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-MediumOblique";
    src:          url("../fonts/AvenirLTStd-MediumOblique.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-Heavy";
    src:          url("../fonts/AvenirLTStd-Heavy.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-HeavyOblique";
    src:          url("../fonts/AvenirLTStd-HeavyOblique.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-Roman";
    src:          url("../fonts/AvenirLTStd-Roman.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-Oblique";
    src:          url("../fonts/AvenirLTStd-Oblique.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-Book";
    src:          url("../fonts/AvenirLTStd-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-BookOblique";
    src:          url("../fonts/AvenirLTStd-BookOblique.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-Medium";
    src:          url("../fonts/AvenirLTStd-Medium.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-MediumOblique";
    src:          url("../fonts/AvenirLTStd-MediumOblique.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-Heavy";
    src:          url("../fonts/AvenirLTStd-Heavy.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-HeavyOblique";
    src:          url("../fonts/AvenirLTStd-HeavyOblique.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-Black";
    src:          url("../fonts/AvenirLTStd-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-BlackOblique";
    src:          url("../fonts/AvenirLTStd-BlackOblique.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-Black";
    src:          url("../fonts/AvenirLTStd-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-BlackOblique";
    src:          url("../fonts/AvenirLTStd-BlackOblique.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

