:root {

    /*Color palette*/
--primary-900:HEX#010304;
--primary-800: #002E4C;
--primary-700: #364D63;
--primary-600: #476685;
--primary-500: #5980A6;
--primary-400: #7A99B8;
--primary-300: #9CB3C9;
--primary-200: #BDCCDB;
--primary-100: #DEE5ED;
--primary-50: #F0F4F7;

--principal: #002E4C;
--secundario: #FFFFFF;
--acento: #00A89C;

    /*Font family*/
font-family: "Open Sans", sans-serif;

    /*View Breakpoints*/
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 767px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1350px;
--breakpoint-xxl: 1650px;

}