:root {

    /*Color palette*/
--primary-900: #010304;
--primary-800: #002E4C;
--primary-700: #364D63;
--primary-600: #476685;
--primary-500: #5980A6;
--primary-400: #7A99B8;
--primary-300: #9CB3C9;
--primary-200: #BDCCDB;
--primary-100: #DEE5ED;
--primary-50:  #F0F4F7;

--principal: #002E4C;
--secundario: #FFFFFF;
--acento: #00A89C;
--acento-hover: #33b9b0;


}

* {
        /*Font family*/
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Imagen*/
#main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("assets/assembly/Salon1.png");
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--secundario);
  }
  