/* tarjetas*/

/* #aside {
  height: 70vh;
  background-color: var(--primary-100);
  width: 100vh;
  margin-left: 15rem;
}

.title-outside {
  position: relative;
  top: -25px;
  width: fit-content;
  padding: 0 10px;
  font-weight: bolder;
  font-size: 2.5rem;
}
.image-outside {
  border: 1px solid red;

  width: 100%;
} */



#aside{
  padding: 3rem 0;
}

.tarjeta {

  background-color: var(--primary-100);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
   border-color: transparent;
}


  top: -40px;
  /* width: fit-content; */
  font-weight: bolder;
  font-size: 2.1rem;
}