
#tittle {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;
  border: none;
  outline: none;
  padding: 1rem 2.5rem;
  border-radius: 1.5rem;
  background-color: var(--principal);
  color: var(--secundario);
  box-shadow: 0px 0px 60px var(--primary-900);
  
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;

  transition: 0.6s;
}

#tittle:hover {
background: rgb(2,29,78);
background: linear-gradient(270deg, rgba(2, 29, 78, 1) 0%, var(--acento) 40%);
color: var(--principal);
}
#tittle:active {
    scale: 0.92;
  
}

/* Tarjetas */
#bgcard {
  background: var(--primary-50);
  padding: 0 24px;
}

#tittlecard{
  position: relative;
  top: -1.25em;
  display: inline-block;
  margin-bottom: -1.25em;
  padding: 0 4px;
  color: var(--principal);
}

#contentcard {
  margin-top: -.7em;

}
.somos-img{
  position: relative;
  top: -25px;
  width: fit-content;
}
/* @media(max-width: 300px){ 
  .navbar-brand img {
    width: 100%;
    height: auto;
    max-height: 55px;
  
  }
} */


