


/* Tarjetas */
#bgcard {
  background: var(--primary-50);
  padding: 0 24px;
}

#tittlecard{
  position: relative;
  top: -1.25em;
  display: inline-block;
  margin-bottom: -1.25em;
  padding: 0 4px;
  color: var(--principal);
}

#contentcard {
  margin-top: -.7em;

}
.somos-img{
  position: relative;
  top: -25px;
  width: fit-content;
}
/* @media(max-width: 300px){ 
  .navbar-brand img {
    width: 100%;
    height: auto;
    max-height: 55px;
  
  }
} */


